/* Global Styles */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background: linear-gradient(270deg, #C5ADC5, #B2B5E0, #C5ADC5); */
  background: linear-gradient(270deg, #FFFFFF, #fed4e7, #FFFFFF);
  background-size: 600% 600%;
  animation: gradientShift 20s ease infinite;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/*Gradient animation*/
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientWave {
  0% {
    background-position: 100% 0%;
  }
  50%{
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

/*Navigation Bar*/
header {
  background: linear-gradient(270deg, #000000, #00ABE4, #000000);
  /* background: linear-gradient(270deg, #4B014B, #B2B5E0, #4B014B); */
  background-size: 400% 400%;
  animation: gradientWave 20s ease infinite;
  background-color: #000000;
  padding: 1rem;
}

.nav-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.nav-container a {
  color: #FFFDF2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-container a:hover {
  color: #00ABE4;
}

/*About Section*/
#about {
  text-align: center;
  padding: 4rem 2rem;
  max-width: 800px;
  margin: auto;
  color: #000000;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

#about h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

#about p {
  font-size: 1.2rem;
  line-height: 1.6;
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

/*Main*/
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Footer*/
footer {
  background: linear-gradient(270deg, #000000, #00ABE4, #000000);
  background-size: 400% 400%;
  animation: gradientWave 20s ease infinite;
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  /* background-color: #000000; */
  color: #effafd;
}

footer a {
  color: #effafd;
  text-decoration: none;
  margin: 0 0.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

footer a:hover {
  text-decoration: underline;
  color: #a0006d;
}
